@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");

#root {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.backVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  /*margin: 0;*/
}

.NavBar {
  margin: 0;
  padding: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
  /*display: flex;*/
  color: #fefefe;

  font-size: 20px;
  font-weight: 100;

  /* This was made with GlassGenerator.netlify.app */
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  /*background-color: rgba(255, 255, 255, 0.075);*/
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
  border-right: 0px rgba(40, 40, 40, 0.35) solid;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.Nav #nav-right {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  /*background-color: red;*/
  height: 60px;
}

.Icon {
  /*background-color: red;*/
  font-weight: 600;
  /*margin: auto;*/
  margin-right: 14px;
  padding-bottom: 0;
  color: #fefefe;
  /*background-color: blue;*/
  padding: 0px;
  background: transparent;
  border-style: solid;
  border: none;
}

.Icon:click {
  background-color: #1fa7c9;
}

.Logo {
  /*background-color: green;*/
  display: flex;
  font-weight: 100;
  font-size: 22px;
  justify-content: space-between;
  height: 60px;
}

.Logo #icon {
  display: flex;
  color: #1fa7c9;
  margin: auto;
  margin-right: 5px;
}

.Logo #title {
  /*color: blue;*/
  font-weight: 100;
  display: flex;
  margin: auto;
}

.NavBar .Bread {
  display: flex;
  font-weight: 500;
  font-size: 16px;
}

.NavBar #icon {
}

#line {
  border-top: 1px solid rgba(25, 25, 25, 0.225);
  /*border-top: 1px solid red;*/
}

.Wrapper {
  /*z-index: 9999 ;*/
  margin-top: 0;
  background-color: rgba(25, 25, 25, 0.855);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
  border-right: 0px rgba(40, 40, 40, 0.35) solid;
  color: #fefefe;
  min-height: 100vh;
  padding-top: 110px;
}

.Section {
  margin-top: 0;
  padding-left: 22px;
  padding-right: 22px;
}

.Section #title {
  color: #1fa7c9;
  font-weight: 800;
  font-size: 16px;
}
.Section #subt {
  font-weight: 800;
  font-size: 30px;
  color: #cdc8c8;
}
.Section #body {
  color: #adb9cc;
  font-weight: 300;
  font-size: 18px;
}

#container {
  margin-top: 0;
}

.disable{
  background-color: red;
  display: none;
}

.active{
  /*background: blue;*/
  height: 100vh;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(5px);
  /*background-color: rgba(255, 255, 255, 0.075);*/
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
  border-right: 0px rgba(40, 40, 40, 0.35) solid;
  color: #fefefe;
}

#menu-container{
  
  
  
}

#menu-card{
  margin-top: 10px;
  margin-right: 10px;
  background-color: #191919 ;
  border-radius: 12px;
  max-width: 250px;
  align-content: right;
  display: flex ;
  flex-direction: column ;
  margin-left: auto;
  padding: 20px;
  font-size: 16px ;
  font-weight: 600 ;
}

#menu-card #first{
  display: flex ;
  justify-content: space-between ;
}

#first button{
  color: #fefefe ;
  background: transparent ;
  border-style: solid ;
  border: none ;
}